<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
</head>

<body style="text-align:center;background-image:url('https://65.media.tumblr.com/ec9f3d71a73a3a06f876e7677b231567/tumblr_o7q2ocOiuD1tboox6o1_75sq.png');" ng-app='app' ng-controller='MadlibCtrl'>
<a href="http://fanimadlibs.tumblr.com/"><img src="https://66.media.tumblr.com/e2fa5b7c9b705ab1cda404539381188a/tumblr_o7q2ocOiuD1tboox6o2_1280.png" style="width:75vw;"/></a>
<form style="margin-top: 30vh">
<input style="width: 75vw; height: 5vw; font-size: 5vw" type="text" ng-model='word'/>
<br/>
<br/>
<button id="sub" style="width: 50vw; height: 5vw; font-size: 4vw" ng-click='addPost()'/>Submit</button>
</form>
<span style="position: absolute; bottom: 10px; right: 0px; left: 0px; font-family: arial; font-weight: bold; color: black;text-decoration: none;"><a href="http://fanimadlibs.tumblr.com/">Visit our tumblr!</a></span>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
<script>
// TODO: fix this for prod
var socket = io.connect('http://localhost:8080');

var app = angular.module('app', [])
app.controller('MadlibCtrl', function($scope, $http){
	$scope.addPost = function(){
		if($scope.word){
			$("#sub").prop("disabled",true);
			socket.emit('chat message', $scope.word);
			$scope.word = ""
			$("#sub").prop("disabled",false);
		}
	}

	socket.on('chat message', function(msg){
		console.log('successfully posted ' + msg)
    });
})

</script>
</body>
</html>